@import "../../../../scss/mixin";
@include maxWidth(63.9375em) {
  .slide-content {
    position: unset !important;
  }
  .promotions {
    bottom: -30px;
  }
  ::ng-deep {
    .slick-dots {
      bottom: 6.6rem !important;
    }
  }
}
@include maxWidth(46.1875em) {
  .section-hero {
    margin-bottom: 2rem !important;
  }
  .slide-content {
    position: unset !important;
  }
  .promotion-box {
    margin-top: 1rem;
  }
  .promotions {
    bottom: 0;
    position: unset !important;
    transform: unset !important;
  }
  ::ng-deep {
    .slick-dots {
      bottom: 6.6rem !important;
    }
  }
}
