<div class="popup panel">
  <div class="popup-box">
    <div
      class="popup-empty"
      [ngClass]="{ 'no-padding': isNotification }"
      *ngIf="!carts || carts.length === 0 || (isNotification && !notifies)"
    >
      <figure class="image-box" [ngClass]="{ 'notify-img': isNotification }">
        <img [src]="isNotification ? notifyImg : cartImg" alt="" />
      </figure>
      <aside class="text">
        {{
          isNotification
            ? "No new announcements yet"
            : "Shopping Cart no products"
        }}
      </aside>
      <a routerLink="/" class="btn btn-primary shop-now" *ngIf="!isNotification"
        >Shop now</a
      >
    </div>
    <ul
      class="popup-list cart"
      *ngIf="!isNotification && carts && carts.length !== 0"
    >
      <li class="popup-item" *ngFor="let cart of carts">
        <figure class="popup-image">
          <img [src]="cart.item.image" [alt]="cart.item.name" />
        </figure>
        <div class="popup-info">
          <a [routerLink]="['/', cart.item.slug]" class="title">{{
            cart.item.name
          }}</a>
          <aside>Quantity: {{ cart.quantity }}</aside>
          <p class="main-info">{{ cart.item.price | currency: "AUD" }}</p>
        </div>
      </li>
    </ul>
    <div
      class="popup-bottom line"
      *ngIf="!isNotification && carts && carts.length !== 0"
    >
      <div class="total">
        <div class="total-left">
          Total amount ({{ carts.length }}) product{{
            carts.length >= 2 ? "s" : ""
          }}
        </div>
        <div class="total-right">{{ totalPrice | currency: "AUD" }}</div>
      </div>
      <a routerLink="/cart" class="btn btn-primary btn-padding">View cart</a>
    </div>
  </div>
</div>
