<div class="grid wide section-cart">
  <app-breadcrumb [level2Name]="'Cart'"></app-breadcrumb>
  <div class="cart-empty" *ngIf="carts && carts.length === 0">
    <app-header-popup></app-header-popup>
  </div>
  <div class="row" *ngIf="carts && carts.length > 0">
    <div class="col l-8">
      <div class="cart-top">
        <h1 class="title">Cart</h1>
        <button class="btn remove-all" (click)="onRemoveCarts()">
          Remove all
        </button>
      </div>
    </div>
  </div>
  <div class="row cart-infor" *ngIf="carts && carts.length > 0">
    <div class="col l-8">
      <div class="cart-content panel panel-padding-full">
        <ul class="cart-list">
          <li class="cart-item cart-heading">
            <div class="item-content">
              <div class="infor">Product item</div>
              <div class="price">Unit price</div>
              <div class="quantity-box">Quantity</div>
              <div class="into-money">Into money</div>
            </div>
          </li>

          <li class="cart-item" *ngFor="let cart of carts; let i = index">
            <app-cart [cart]="cart" class="wfull"></app-cart>
          </li>
        </ul>
      </div>
    </div>
    <div class="col l-4">
      <div class="panel payment panel-padding-full">
        <h1 class="title">Payment</h1>
        <div class="infor">
          <div class="text">Provisional</div>
          <div class="price">{{ totalPrice | currency: "AUD" }}</div>
        </div>
        <div class="infor">
          <div class="text">Into money</div>
          <div class="price price-primary">
            {{ totalPrice | currency: "AUD" }}
          </div>
        </div>
        <aside>(VAT included)</aside>
        <button
          class="btn btn-primary btn-padding checkout-btn flex-centerc"
          (click)="onCheckout()"
        >
          <p class="checkout">Checkout</p>
          <p class="notice" *ngIf="!auth">You need to login to continue</p>
        </button>
      </div>
    </div>
  </div>
</div>
