<footer class="footer mt-24">
  <div class="footer-content grid wide">
    <div class="footer-infor">
      <div class="policy-contact">
        <ul class="footer-group">
          <li class="footer-list">
            <div class="footer-title">Customer support</div>
            <a
              href="https://help.phongvu.vn/dich-vu-khach-hang/the-thanh-vien"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Preferential card</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/bao-hanh#trung-tam-bao-hanh-phong-vu"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Service center</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/phuong-thuc-thanh-toan"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Payment and delivery</a
            >
            <a
              href="https://help.phongvu.vn/dich-vu-khach-hang/dich-vu-sua-chua-va-bao-tri"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Repair and maintenance service</a
            >
            <a
              href="https://help.phongvu.vn/dich-vu-khach-hang/doanh-nghiep-than-thiet"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Friendly business</a
            >
          </li>
          <li class="footer-list">
            <div class="footer-title">Purchase Policy and Warranty</div>
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >General rules</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-chung/bao-mat-thong-tin"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Information Privacy Policy</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/van-chuyen-va-lap-dat"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Shipping and Installation Policy</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/bao-hanh"
              class="footer-item"
              >Warranty Policy</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/doi-tra-va-hoan-tien"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Return and Refund Policy</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-chung/gia-ca-va-hinh-thuc-thanh-toan"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Pricing and payment methods</a
            >
            <a
              href="https://help.phongvu.vn/chinh-sach-ban-hang/tra-gop"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Installment Policy</a
            >
          </li>
          <li class="footer-list">
            <div class="footer-title">Phong Vu information</div>
            <a
              href="https://help.phongvu.vn/"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >About Phong Vu</a
            >

            <a href="/contact" class="footer-item">Contact Info</a>
            <a href="/contact" class="footer-item">Showroom system</a>
            <a href="https://phongvu.vn/hoi-dap" class="footer-item">Q&A</a>
            <a href="https://phongvu.vn/cong-nghe" class="footer-item"
              >Tech news</a
            >
            <a
              href="https://help.phongvu.vn/ho-tro/tuyen-dung"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-item"
              >Recruit</a
            >
          </li>
          <li class="footer-list">
            <div class="footer-title">Phong Vu Community</div>
            <a href="https://phongvu.page.link/fanpage" class="footer-item">
              <div class="icon icon-fb">
                <app-facebook-logo></app-facebook-logo>
              </div>
              Phong Vũ Việt Nam</a
            >
            <a
              href="https://www.youtube.com/channel/UCOJ3sqWCc6koR9BScBZkBlA"
              class="footer-item"
            >
              <div class="icon icon-youtube">
                <app-youtube-logo></app-youtube-logo>
              </div>
              Phong Vũ Media</a
            >
            <a href="https://phongvu.page.link/congdong" class="footer-item">
              <div class="icon icon-clan">
                <app-clan-icon></app-clan-icon>
              </div>
              Phong Vũ Hội</a
            >
            <a href="tel:18006867" class="footer-item">
              <div class="icon"><app-headset-icon></app-headset-icon></div>
              <span
                >Call Buy:
                <span style="color: rgb(218, 67, 67); font-weight: bold"
                  >1800 6867</span
                >
                (free)</span
              ></a
            >
            <a href="tel:18006865" class="footer-item">
              <div class="icon"><app-headset-icon></app-headset-icon></div>
              <span
                >Call Care:
                <span style="color: rgb(218, 67, 67); font-weight: bold"
                  >1800 6865</span
                >
                (free)</span
              ></a
            >
          </li>
          <li class="footer-list">
            <div class="footer-title">Contact email</div>
            <div class="footer-contact">
              Customer support:<br />
              <a href="mailto:cskh@phongvu.vn">cskh@phongvu.vn</a>
            </div>
            <div class="footer-contact">
              Contact for quotation:<br />
              <a href="mailto:baogia@phongvu.vn">baogia@phongvu.vn</a>
            </div>
            <div class="footer-contact">
              Development cooperation:<br />
              <a href="mailto:hoptac@phongvu.vn">hoptac@phongvu.vn</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="payment-method">
        <ul class="footer-group">
          <li class="footer-list">
            <div class="footer-title">Payment methods</div>
            <div class="payment-choices">
              <a
                href="https://help.phongvu.vn/chinh-sach-ban-hang/huong-dan-thanh-toan-vnpay-qr"
                class="footer-item"
              >
                <div class="icon">
                  <app-qr-icon></app-qr-icon>
                </div>
                QR Code
              </a>
              <a
                href="https://help.phongvu.vn/chinh-sach-ban-hang/phuong-thuc-thanh-toan#thanh-toan-tien-mat"
                class="footer-item"
              >
                <div class="icon">
                  <app-cash-icon></app-cash-icon>
                </div>
                Cash
              </a>
              <a
                href="https://help.phongvu.vn/chinh-sach-ban-hang/phuong-thuc-thanh-toan#thanh-toan-tra-gop"
                class="footer-item"
              >
                <div class="icon">
                  <app-clock-icon></app-clock-icon>
                </div>
                Installment
              </a>
              <a
                href="https://help.phongvu.vn/chinh-sach-ban-hang/phuong-thuc-thanh-toan#thanh-toan-the-atm-noi-dia-internet-banking"
                class="footer-item"
              >
                <div class="icon">
                  <app-credit-card-icon></app-credit-card-icon>
                </div>
                Internet Banking
              </a>
            </div>
          </li>
          <li class="footer-list">
            <div class="footer-title">List of online payment banks</div>
            <img
              src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/banklist.jpg"
              alt=""
              class="footer-image-banks"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="about-content grid wide">
      <div class="introduce">
        <ul class="footer-group">
          <li class="footer-list">
            <div class="footer-title fz-14 mb-15">
              PHONG VO TRADING - SERVICE JOINT STOCK COMPANY
            </div>
            <div class="footer-item">
              © 1997 - 2020 Phong Vu Trading - Service Joint Stock Company
              <br />
              Certificate of business registration: 0304998358 issued by the
              Department of Planning and Investment of Ho Chi Minh City for the
              first time on May 30, 2007
            </div>
          </li>
        </ul>
      </div>

      <div class="address">
        <ul class="footer-group">
          <li class="footer-list">
            <div class="footer-item">
              <div class="item-title text-weight">Head office address:</div>
              5th Floor, No. 117-119-121 Nguyen Du, Ben Thanh Ward, District 1,
              Ho Chi Minh City
            </div>

            <div class="footer-item">
              <div class="item-title text-weight">
                Northern Executive Office:
              </div>
              Floor 6, No. 1 Thai Ha Street, Trung Liet Ward, Dong Da District,
              Hanoi
            </div>

            <div class="footer-item">
              <div class="item-title text-weight">
                Southern Executive Office:
              </div>
              11th floor Minh Long Tower, No. 17 Ba Huyen Thanh Quan, Vo Thi Sau
              Ward, District 3, Ho Chi Minh City
            </div>
          </li>
        </ul>
      </div>

      <div class="certification">
        <ul class="footer-group">
          <li class="footer-list">
            <a
              href="http://online.gov.vn/Home/WebDetails/4549"
              rel="noreferrer noopener"
              target="_blank"
              class="footer-item"
            >
              <img
                src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/da-dang-ky.png"
                alt="verified logo"
              />
            </a>
          </li>
          <li class="footer-list">
            <a
              href="//www.dmca.com/Protection/Status.aspx?ID=53b44883-ed2a-434d-902b-5adce10aafd5&amp;refurl=https://phongvu.vn"
              title="DMCA.com Protection Status"
              class="footer-item"
              ><img
                src="https://images.dmca.com/Badges/dmca-badge-w100-2x1-02.png?ID=53b44883-ed2a-434d-902b-5adce10aafd5"
                alt="DMCA.com Protection Status"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
