<nav class="nav" (mouseleave)="hoverItem = null">
  <div class="nav-list">
    <a
      [routerLink]="['/product', navItem.slug]"
      class="nav-item"
      (mouseover)="onHover(navItem)"
      *ngFor="let navItem of navItems"
    >
      <figure class="image">
        <img [src]="navItem.image" [alt]="navItem.name" />
      </figure>
      <span class="title">{{ navItem.name }}</span>
    </a>
  </div>
  <app-sub-nav
    [navItem]="hoverItem"
    *ngIf="hoverItem"
    class="mobile"
  ></app-sub-nav>
</nav>
<!-- <ul class="nav-list">
  <li *ngFor="let navItem of navItems">
    <a
      [routerLink]="['/product', navItem.slug]"
      class="nav-item"
      (mouseover)="onHover(navItem)"
    >
      <figure class="image">
        <img [src]="navItem.image" [alt]="navItem.name" />
      </figure>
      <span class="title">{{ navItem.name }}</span>
    </a>
  </li>
</ul> -->
