<app-header-aside></app-header-aside>
<header class="header" appStickyHeader>
  <div class="grid wide">
    <div class="header-box">
      <a href="#" class="logo">
        <img
          src="../../../assets/logo-full.svg"
          alt="Logo "
          class="hideBelow1023"
        />
        <img
          src="../../../assets/logo.svg"
          alt="Logo"
          class="logo-sticky displayBlockBelow1023"
        />
      </a>
      <div class="header-sticky hideBelow1023" appShowCatalog>
        <div class="menu-box">
          <app-menu-icon></app-menu-icon>
          <span>Product catalog</span>
        </div>
        <app-navbar class="catalog"></app-navbar>
        <!-- <div class="catalog">
        </div> -->
        <div class="overlay"></div>
      </div>
      <div class="search">
        <input type="text" class="search-input" placeholder="Search..." />
        <button class="btn btn-primary search-action">
          <span>
            <app-search-icon></app-search-icon>
          </span>
        </button>
      </div>

      <div class="action hideBelow1023">
        <a class="action hover" routerLink="/account/me/order">
          <div class="header-icon"><app-order-icon></app-order-icon></div>
          <span>Order</span>
        </a>
      </div>
      <div class="action">
        <a routerLink="/account/me" class="action hover">
          <div class="header-icon">
            <app-user-icon *ngIf="!userInfor"></app-user-icon>
            <img
              src="assets/imgs/avatar-default.png"
              alt="Avatar default"
              *ngIf="!userInfor?.avatar && userInfor"
              class="img-cover"
            />
            <img
              [src]="briefInfor?.avatar"
              [alt]="briefInfor?.name + 'avatar'"
              *ngIf="userInfor?.avatar && userInfor"
              class="img-cover"
            />
          </div>
          <span *ngIf="!userInfor">Login</span>
          <span *ngIf="userInfor" class="username">{{
            userInfor?.firstName && userInfor?.lastName
              ? userInfor?.firstName + " " + userInfor?.lastName
              : "Welcome"
          }}</span>
        </a>
        <div class="dropdown" *ngIf="userInfor">
          <app-user-menu [briefInfo]="briefInfor"></app-user-menu>
        </div>
      </div>
      <div class="action hideBelow1023">
        <a class="action hover">
          <div class="header-icon"><app-bell-icon></app-bell-icon></div>
          <span>Notify</span>
        </a>
        <div class="dropdown">
          <app-header-popup isNotification="true"></app-header-popup>
        </div>
      </div>
      <div class="action hideBelow1023">
        <a class="action hover">
          <div class="header-icon">
            <app-cart-icon></app-cart-icon>
            <span class="count-cart" *ngIf="countCarts > 0">{{
              countCarts
            }}</span>
          </div>
          <span>Cart</span>
        </a>
        <div class="dropdown">
          <app-header-popup></app-header-popup>
        </div>
      </div>
    </div>
  </div>
  <app-header-mobile
    class="displayBlockBelow1023 display-none"
    [countCarts]="countCarts"
  ></app-header-mobile>
</header>
<!-- <div class="spacer"></div> -->
