<app-header-aside></app-header-aside>
<header class="header" appStickyHeader>
  <div class="grid wide">
    <div class="header-box">
      <a href="#" class="logo">
        <img src="../../../assets/logo-full.svg" alt="Logo" />
        <img src="../../../assets/logo.svg" alt="Logo" class="logo-sticky" />
      </a>
      <div class="header-sticky" appShowCatalog>
        <div class="menu-box">
          <app-menu-icon></app-menu-icon>
          <span>Product catalog</span>
        </div>
        <div class="catalog">
          <app-navbar></app-navbar>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="search">
        <input type="text" class="search-input" placeholder="Search..." />
        <button class="btn btn-primary search-action">
          <span>
            <app-search-icon></app-search-icon>
          </span>
        </button>
      </div>
      <a href="#" class="action hover">
        <div class="header-icon">
          <app-discount-icon></app-discount-icon>
        </div>
        <span>Promotion</span>
      </a>
      <a href="#" class="action hover">
        <div class="header-icon"><app-order-icon></app-order-icon></div>
        <span>Order</span>
      </a>
      <a href="#" class="action hover">
        <div class="header-icon"><app-user-icon></app-user-icon></div>
        <span>Login</span>
      </a>
      <a href="#" class="action hover">
        <div class="header-icon"><app-bell-icon></app-bell-icon></div>
        <span>Notify</span>
        <div class="dropdown">
          <app-header-popup isNotification="true"></app-header-popup>
        </div>
      </a>
      <a href="#" class="action hover">
        <div class="header-icon"><app-cart-icon></app-cart-icon></div>
        <span>Cart</span>
        <div class="dropdown">
          <app-header-popup></app-header-popup>
        </div>
      </a>
    </div>
  </div>
</header>
<!-- <div class="spacer"></div> -->
