@import "../../../scss/variables/variable";

.header {
  height: 8.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 10;
  background-color: white;
  .header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      max-width: 100%;
      display: block;
      padding: 0 0.8rem;
      flex-shrink: 0.3;
      img {
        width: 100%;
        height: 3.5rem;
      }
    }
    .search {
      flex: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #eaeaea;
      border-radius: 8px;
      background-color: whitesmoke;
      padding: 1px;
      margin: 0 0.8rem;
      .search-input {
        width: 100%;
        height: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.2rem;
        border: none;
        font-size: 1.4rem;
        font-weight: 400;
        background-color: transparent;
      }
      .search-action {
        flex-shrink: 0;
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          width: 2.4rem;
          height: 2.4rem;
          display: block;
          ::ng-deep svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0.365rem 2rem;
      gap: 1.3rem;
      color: $asideColor;
      flex-shrink: 0;
      position: relative;
      .header-icon {
        width: 3.6rem;
        height: 3.6rem;
        color: inherit;
        position: relative;

        ::ng-deep svg {
          fill: currentColor;
          color: currentColor;
          width: 100%;
          height: 100%;
        }
        .count-cart {
          position: absolute;
          top: -23%;
          right: -5px;
          color: white;
          background-color: #da4343;
          border-radius: 50%;
          width: 1.6rem;
          height: 1.6rem;
          display: block;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.6rem;
          text-align: center;
        }
      }
      span {
        font-size: 1.3rem;
        font-weight: 500;
        color: inherit;
      }
      &:hover .dropdown {
        display: block;
      }
      .dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;
        box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
        border-radius: 0.8rem;
        display: none;
        &:hover {
          display: block;
        }
      }
    }
  }
}
.sticky ~ .spacer {
  display: block;
}
.spacer {
  display: none;
  height: 8.8rem;
}
.sticky {
  // height: 7.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  .logo {
    flex-shrink: 0;
    img {
      display: none;
    }
  }
  .logo-sticky {
    display: block !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
  .action span {
    display: none;
  }
  .header-sticky {
    display: block;
  }
  .overlay {
    display: none;
  }
  .header-sticky {
    margin-left: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: #f5f5f5;
    }
    &.active .catalog {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    &.active .overlay {
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      display: block;
      z-index: 1;
    }
    .catalog {
      position: absolute;
      inset: 0 auto auto 0;
      transform: translate(-83px, 68px);
      z-index: 3;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: all 250ms ease-in;
    }
    .menu-box {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding: 0.64rem 1.2rem;
      border: 1px solid #e0e0e0;
      text-align: center;
      color: $asideColor;
      ::ng-deep {
        svg line {
          stroke: $asideColor;
        }
      }
      span {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6rem;
        display: block;
        // width: 10rem;
        margin-left: 0.4rem;
      }
    }
  }
}
.logo-sticky {
  display: none;
}
.header-sticky {
  display: none;
}
