<div class="row">
  <div class="col l-6 m-6 s-12">
    <div class="order-list">
      <h1 class="title mb-16">Orders</h1>
      <ul class="orders relative">
        <div class="overlay flex-center blur" *ngIf="isLoadings.orders">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <li class="head">
          <div class="status">Status</div>
          <div class="customer-name">Customer name</div>

          <div class="price">Amount</div>
          <div class="payment-date">Payment date</div>
        </li>
        <li
          class="order"
          *ngFor="
            let i = index;
            let order;
            of: orders
              | paginate
                : {
                    currentPage: currentPage,
                    itemsPerPage: pageSize,
                    totalItems: totalRow
                  }
          "
          (click)="onSelectOrder(i)"
        >
          <div
            class="status"
            [ngClass]="{
              paid: order.status == 'paid',
              pending: order.status == 'pending'
            }"
          >
            <span>
              {{ order.status }}
            </span>
          </div>
          <div class="customer-name">{{ order.address.fullName }}</div>

          <div class="price">
            {{ order.totalPrice | currency: "AUD" }}
          </div>
          <div class="payment-date">
            {{ order.createdAt | date: "MM/dd/y, h:mm a" }}
          </div>
        </li>
      </ul>
      <div class="paginate-box">
        <pagination-controls
          class="paginate"
          (pageChange)="handlePageChange($event)"
          directionLinks="false"
          maxSize="7"
          autoHide="true"
          (pageBoundsCorrection)="currentPage = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div class="col l-6 m-6 s-12">
    <div class="order-detail">
      <h1 class="title mb-16">Order details</h1>
      <div class="content" [ngClass]="{ 'flex-center': !orderSelected }">
        <div class="empty" *ngIf="!orderSelected">
          Click order to see details
        </div>
        <div class="display" *ngIf="orderSelected">
          <div class="infor">
            <h1 class="chapter-title">Customer information</h1>
            <div class="name">
              Customer name: {{ orderSelected.address?.fullName }}
            </div>
            <span
              class="status"
              [ngClass]="{
                paid: orderSelected.status == 'paid',
                pending: orderSelected.status == 'pending'
              }"
            >
              <span>
                {{ orderSelected.status }}
              </span>
            </span>
            <div class="phone">Phone: {{ orderSelected.address?.phone }}</div>
            <div class="address">
              Address: {{ orderSelected.address.fullAddress }}
            </div>
            <div class="receipt" *ngIf="this.orderSelected?.paymentDetails">
              Your receipt:
              <a
                [href]="
                  this.orderSelected.paymentDetails?.charges.data[0].receipt_url
                "
                target="_blank"
                >Click here</a
              >
            </div>
          </div>
          <div class="line"></div>
          <div class="item-purchased relative">
            <div class="overlay flex-center blur" *ngIf="isLoadings.items">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <h1 class="chapter-title">Items purchased</h1>
            <ul class="list">
              <li class="item" *ngFor="let item of items">
                <app-item [item]="item"></app-item>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
