@import "../../../../scss/variables/variable";
@import "../../../../scss/mixin";
.menu-box {
  width: fit-content;
}
.menu-head {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.7rem;
  .avatar {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    border-radius: 0.4rem;
    overflow: hidden;
    border: 1px solid $asideColor;
  }
  .infor {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $textColor;

    min-width: 18rem;
    .name {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2rem;
      @include textTruncate(1);
    }
    .email {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.8rem;
      @include textTruncate(1);
    }
  }
}

.menu-body {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  .menu-list {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: $textColor;
    .menu-item + .menu-item {
      margin-top: 0.2rem;
    }
    .menu-item {
      color: inherit;
      display: flex;
      align-items: center;
      padding: 0.8rem;
      border-radius: 0.4rem;
      transition: background-color 200ms ease-in;
      &:hover {
        background-color: #f5f5f5;
      }
      .icon {
        margin-right: 1rem;
        ::ng-deep svg {
          fill: $asideColor;
          color: $asideColor;
          width: 1.8rem;
          height: 1.8rem;
        }
        ::ng-deep > * {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.menu-bottom {
  margin-top: 0.7rem;
}
