<section class="hot-deal grid wide">
  <div class="hot-deal-content" [ngStyle]="{ backgroundImage: backgroundUrl }">
    <nav class="hot-deal-tab">
      <ul class="hot-deal-list flex-center">
        <li
          class="hot-deal-item flex-centerc"
          [ngClass]="{ active: selected === 'gaming' }"
          (click)="onClick('gaming')"
        >
          <h1 class="title">Gamimg Gear</h1>
          <aside class="subtitle">Only From 299K CZK</aside>
        </li>
        <li
          class="hot-deal-item flex-centerc"
          [ngClass]="{ active: selected === 'office' }"
          (click)="onClick('office')"
        >
          <h1 class="title">Office - Tablet</h1>
          <aside class="subtitle">Up to 30% Off</aside>
        </li>
      </ul>
    </nav>

    <app-deal-table href="products" [isCountdown]="true"></app-deal-table>
  </div>
  <div class="hot-deal-content" style="height: 400px; margin-top: 2.4rem">
    <app-deal-table
      href="laptop-paSPa"
      backgroundUrl="assets/imgs/deals/laptop.jpg"
      title="Laptop"
      categoryID="627931d711256e063d363c79"
    ></app-deal-table>
  </div>
  <div class="hot-deal-content" style="height: 400px; margin-top: 2.4rem">
    <app-deal-table
      href="smart-phone-1t2bQ"
      backgroundUrl="assets/imgs/deals/deal-3.jpg"
      title="Smart phone"
      categoryID="628e6373d01557f5a4dfb8c4"
    ></app-deal-table>
  </div>
</section>
