@import "../../../../scss/mixin";

@include maxWidth(77.4375em) {
  .sliders {
    padding-left: 7.6rem !important;
  }
  .countdown-box {
    right: -4rem !important;
    top: 50%;
    transform: translateY(-50%);
  }
}
@include maxWidth(63.9375em) {
  .sliders {
    padding-left: 0 !important;
  }
  .countdown-box {
    right: 0 !important;
    top: unset;
    transform: unset;
  }
}
@include maxWidth(46.1875em) {
  .countdown-box {
    display: none;
  }
  .table-heading {
    backdrop-filter: brightness(0.5);
  }
  .deal-table {
    margin: 0 0.4rem;
  }
}
