<div class="item">
  <div class="infor">
    <figure class="image">
      <img [src]="item.product.image" [alt]="item.product.name" />
    </figure>
    <div class="infor-content">
      <a
        [routerLink]="['/', item.product.slug]"
        class="name"
        [title]="item.product.name"
        >{{ item.product.name }}</a
      >
      <aside class="sku">SKU: {{ item.product.sku }}</aside>
    </div>
  </div>
  <div class="price">
    {{ item.product.price | currency: "AUD" }}
    <span class="x-mark"> x </span>
    {{ item.quantity }}
  </div>

  <div class="into-money">
    {{ item.totalPrice | currency: "AUD" }}
  </div>
</div>
