@import "../../../../../scss/mixin";
@import "../../../../../scss/variables/variable";

.item {
  display: flex;
  gap: 0.8rem;
}
.infor {
  flex: auto;
  display: flex;
  gap: 1.2rem;
  .image {
    width: 8rem;
    height: 8rem;
    border: 1px solid #e4e5f0;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .infor-content {
    font-weight: 400;
    flex: 1;
    .name {
      font-size: 1.3rem;
      line-height: 2rem;
      @include textTruncate(2);
      transition: color 0.3s ease;
      color: $textColor;
      &:hover {
        color: $primaryColor;
      }
    }
    .sku {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $asideColor;
    }
  }
}
.price {
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: right;
  .x-mark {
    font-size: 1rem;
  }
}

.into-money {
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: $primaryColor;
  text-align: right;
}
