<section class="section-hero">
  <div class="slide-content">
    <app-slider
      [classObj]="'slide-cus'"
      [slideConfig]="{
        slidesToShow: 1,
        autoplay: true,
        autoplayspeed: 10000,
        accessibility: false,
        draggable: false,
        arrows: false,
        adaptiveHeight: true,
        speed: 250,
        dots: true
      }"
      [slides]="[
        {
          img: 'assets/imgs/banner-hero/banner-1.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-2.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-3.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-4.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-5.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-6.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-7.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-8.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-9.webp'
        },
        {
          img: 'assets/imgs/banner-hero/banner-10.webp'
        }
      ]"
    >
    </app-slider>
  </div>
  <div class="grid wide">
    <div class="row section-content no-gutters">
      <div class="navbar-box col l-2">
        <app-navbar></app-navbar>
      </div>

      <div class="slide-action col l-8">
        <button
          class="btn btn-control btn-control-prev"
          (click)="onPreviousSlide()"
        >
          <span>&lsaquo;</span>
        </button>
        <button
          class="btn btn-control btn-control-next"
          [attr.data-width]="screenWidth"
          (click)="onNextSlide()"
        >
          <span>&rsaquo;</span>
        </button>
      </div>
      <div class="col l-2 btn-next-col"></div>
    </div>
  </div>
  <div class="promotion-box grid wide">
    <div class="promotions">
      <app-promotion-list
        [classNameCol]="'l-3'"
        [promotionList]="[
          {
            img: 'assets/imgs/promotion/promotion-hero/promotion-1.webp'
          },
          {
            img: 'assets/imgs/promotion/promotion-hero/promotion-2.webp'
          },
          {
            img: 'assets/imgs/promotion/promotion-hero/promotion-3.webp'
          },
          {
            img: 'assets/imgs/promotion/promotion-hero/promotion-4.webp'
          }
        ]"
      ></app-promotion-list>
    </div>
  </div>
</section>
