.section-hero {
  width: 100%;
  position: relative;
  .section-content {
    display: flex;
    .navbar-box {
      position: relative;
      z-index: 1;
      padding-top: 1.5rem;
    }
    .slide-box {
      height: 550px;
      .slide-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // z-index: -1;
        ::ng-deep {
          .slide-cus {
            height: 566px;
            img {
              object-fit: cover;
            }
          }
          .slick-dots {
            position: absolute;
            bottom: 9.6rem;
            li {
              margin: 0 0;
            }
            button:before {
              font-size: 1rem;
            }
            .slick-active {
              button:before {
                color: #007aff;
                border-color: #007aff;
              }
            }
          }
        }
      }
      &:hover .btn-control,
      &:hover ~ .btn-next-col .btn-control {
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
      }
    }
    .btn-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 3rem;
      font-weight: 100;
      background-color: transparent;
      color: transparent;
      transition: all 250ms linear;
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
      }
    }
    .btn-control-prev {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn-next-col {
      position: relative;
      .btn-control-next {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        right: 100%;
      }
    }
  }
}
