<app-section-hero></app-section-hero>
<div class="wrap">
  <div class="sticky-poster">
    <div class="poster">
      <div class="poster-left">
        <a href="https://phongvu.vn/cong-nghe/mua-hang-trung-bay-phong-vu/"
          ><img
            src="https://lh3.googleusercontent.com/q7OP0-aPv3eumJnQT9kdE7UrWv3i5eh1qiFV2oOcGl0lhwZ5Fqo879O8A9COsZS6S5FvHDQwT7A9BfcHt7pgxm5ubZ-XLlsVKA"
        /></a>
      </div>
      <div class="middle"></div>
      <div class="poster-right">
        <a
          href="https://phongvu.vn/p/sieu-sale-phong-vu1?utm_source=homepage&amp;utm_medium=sticky-right-banner&amp;utm_campaign=sieu-sale-phong-vu-1"
          ><img
            src="https://lh3.googleusercontent.com/_cgDPDzb5iDv5Lmr-SWvCyHuz1ATZ1k2uB_17hn-rcbksonOYJj7vcSvldq1XqZIYOnTYM9EQqmh8ISCkAFQFrqLJ-rQ3VEo"
        /></a>
      </div>
    </div>
  </div>
  <app-section-hot-deal></app-section-hot-deal>
  <app-section-recommend></app-section-recommend>
  <app-section-best-seller-in-month></app-section-best-seller-in-month>
  <app-section-show-product></app-section-show-product>
</div>
