<div class="slide-box">
  <app-slider
    [classObj]="'slide-cus'"
    [slideConfig]="{
      slidesToShow: 1,
      autoplay: true,
      autoplayspeed: 10000,
      accessibility: false,
      arrows: false,
      draggable: false,
      adaptiveHeight: true,
      speed: 250
    }"
    [slides]="[
      {
        img: 'assets/imgs/banner-head/banner.webp'
      },
      {
        img: 'assets/imgs/banner-head/banner.webp'
      }
    ]"
  ></app-slider>
</div>
<div class="aside-box">
  <div class="grid wide">
    <div class="row">
      <a href="#" class="aside-item">
        <div class="icon"><app-business-icon></app-business-icon></div>
        <div class="text">Showrooms</div>
      </a>
      <a href="#" class="aside-item">
        <div class="icon"><app-headset-icon></app-headset-icon></div>
        <div class="text">Shopping advice: <span>1800 6867</span></div>
      </a>
      <a href="#" class="aside-item">
        <div class="icon"><app-headset-icon></app-headset-icon></div>
        <div class="text">Custome care: <span>1800 6865</span></div>
      </a>
      <a href="#" class="aside-item">
        <div class="icon"><app-desktop-news-icon></app-desktop-news-icon></div>
        <div class="text">Tech news</div>
      </a>
      <a href="#" class="aside-item">
        <div class="icon"><app-build-icon></app-build-icon></div>
        <div class="text">Build your PC</div>
      </a>
    </div>
  </div>
</div>
