@import "../../../../scss/mixin";
@include maxWidth(63.9375em) {
  .title {
    font-size: 1.7rem !important;
    line-height: 2rem !important;
  }
  .subtitle {
    font-size: 1.2rem !important;
    line-height: 2rem !important;
  }
  .hot-deal-list {
    height: 5.2rem !important;
  }
}
@include maxWidth(46.1875em) {
  .hot-deal {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}
