@mixin textTruncate($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@mixin maxWidth($viewPort) {
  @media screen and (max-width: $viewPort) {
    @content;
  }
}

@mixin minWidth($viewPort) {
  @media screen and (min-width: $viewPort) {
    @content;
  }
}

@mixin minAndMaxWidth($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
