<app-loading-spinner *ngIf="!product"></app-loading-spinner>
<app-breadcrumb [level2Name]="product.name" *ngIf="product"></app-breadcrumb>
<div [ngClass]="{ error: isError }">
  <app-toast-message [toast]="toast" [isAlert]="isAlert"></app-toast-message>
</div>
<div class="display-area grid wide" *ngIf="product">
  <div class="main-display panel">
    <div class="main-display-left">
      <div class="img-product-detail">
        <figure>
          <img
            [src]="displayImage.gallery"
            [alt]="product.name"
            (click)="onOpenModelImage()"
          />
        </figure>
        <div class="img-track">
          <div
            (click)="onOpenModelImage()"
            class="img-box"
            *ngFor="let gallery of product.galleries; let i = index"
          >
            <img
              [src]="gallery.url"
              [alt]="gallery.label"
              (mouseover)="onChangeDisplayImage(i)"
              [ngClass]="{ show: displayImage.index === i }"
            />
            <div class="overflow-img flex-center" *ngIf="i >= 5">
              +{{ product.galleries.length - 5 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-display-right">
      <h1 class="product-title">{{ product.name }}</h1>
      <aside>SKU: {{ product.sku }}</aside>
      <div class="only-one" *ngIf="product.quantity === 0">
        Only 1 product left
      </div>
      <div class="product-price">
        <div class="price-sell">
          {{
            (promotionSelected
              ? product.price - promotionSelected.promotion.discount
              : product.price
            ) | currency: "AUD"
          }}
        </div>
        <div class="price-origin">
          {{ promotionSelected && product.price | currency: "AUD" }}
        </div>
      </div>
      <div class="promotions">
        <h1 class="promotions-title">Choose one of the following promotions</h1>
        <div
          class="promotion"
          *ngFor="let promotion of promotions; let i = index"
          [ngClass]="{
            'apply-promotion':
              promotionSelected && i === promotionSelected.index
          }"
        >
          <!--Chi ap dung duoc 1 promotion, su dung index de handle button -->
          <div class="promotion-icon flex-center">
            <app-gift-icon></app-gift-icon>
          </div>
          <div class="promotion-info">
            <div class="promotion-discount">
              <div class="discount-top">
                Discount
                {{ promotion.discount | currency: "AUD":"symbol":"1.0-0" }}
              </div>
              <div class="discount-bottom">
                <span class="expire-time"
                  >Expiry date: {{ promotion.expiryDate }}</span
                >
                <div class="apply" (click)="onApplyPromotion(i)">
                  {{ promotionSelected ? "Unchecked" : "Apply" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-group">
        <button class="btn btn-primary" (click)="onBuyNow()">Buy now</button>
        <button class="btn btn-outline" (click)="onAddToCart()">
          Add to cart
        </button>
      </div>
    </div>
  </div>
  <div class="side-panel panel">
    <div class="free-ship" *ngIf="!promotionSelected">
      <div class="icon">
        <app-freeship-icon></app-freeship-icon>
      </div>
      Products are free shipping
    </div>
    <div class="list-group">
      <h1 class="title">Sales policy</h1>
      <ul class="list">
        <li class="item">
          <span class="item-icon"><app-delivery-icon></app-delivery-icon></span>
          Free delivery for orders from A&500
        </li>
        <li class="item">
          <span class="item-icon"
            ><app-protection-icon></app-protection-icon
          ></span>
          100% genuine guarantee
        </li>
        <li class="item">
          <span class="item-icon"><app-returns-icon></app-returns-icon></span>
          Return within 10 days
        </li>
      </ul>
    </div>
    <div class="list-group">
      <h1 class="title">Other services</h1>
      <ul class="list">
        <li class="item">
          <span class="item-icon"><app-gear-icon></app-gear-icon></span>
          Repair the same price A$100.
        </li>
        <li class="item">
          <span class="item-icon"><app-desktop-icon></app-desktop-icon></span>
          Computer and laptop cleaning.
        </li>
        <li class="item">
          <span class="item-icon"
            ><app-protection-icon></app-protection-icon
          ></span>
          Home warranty.
        </li>
      </ul>
    </div>
    <a href="#">See details</a>
  </div>
</div>

<div class="more-infor grid wide panel" *ngIf="product">
  <div class="main-infor">
    <h1 class="description">Product decription</h1>
    <div class="description-area" [innerHtml]="product.description"></div>
  </div>
  <div class="side-infor">
    <h1 class="title">Details</h1>
    <div class="side-panel">
      <div class="list">
        <div class="item">
          <div class="item-title">Brand</div>
          <div class="item-text">MSI</div>
        </div>
        <div class="item">
          <div class="item-title">Warranty</div>
          <div class="item-text">
            {{ product.warranty.months }}
          </div>
        </div>
        <div class="seperate">General information</div>
        <div class="item">
          <div class="item-title">Series Laptop</div>
          <div class="item-text">Modern Series</div>
        </div>
        <div class="item">
          <div class="item-title">Part-number</div>
          <div class="item-text">1024VN</div>
        </div>
        <div class="item">
          <div class="item-title">Color</div>
          <div class="item-text">Gray</div>
        </div>
        <div class="item">
          <div class="item-title">CPU gen</div>
          <div class="item-text">Intel Core i5-1155G7</div>
        </div>
        <div class="item">
          <div class="item-title">Graphics chip</div>
          <div class="item-text">Intel Iris Xe Graphics</div>
        </div>
        <div class="item">
          <div class="item-title">Ram</div>
          <div class="item-text">
            1 x 8GB DDR4 3200MHz ( 2 slots / Support up to 64GB )
          </div>
        </div>
        <div class="item">
          <div class="item-title">Monitor</div>
          <div class="item-text">
            15.6" ( 1920 x 1080 ) Full HD IPS no touch , HD webcam
          </div>
        </div>
        <div class="item">
          <div class="item-title">Storage</div>
          <div class="item-text">512GB SSD M.2 NVMe</div>
        </div>
        <div class="item">
          <div class="item-title">Maximum number of storage ports</div>
          <div class="item-text">2 x M.2 NVMe</div>
        </div>
        <div class="item">
          <div class="item-title">Supported M.2 slot type</div>
          <div class="item-text">M.2 NVMe</div>
        </div>
        <div class="item">
          <div class="item-title">Output port</div>
          <div class="item-text">1 x HDMI</div>
        </div>
      </div>
    </div>
    <p class="action-more-info flex-center">
      View more content
      <span class="icon flex-center"
        ><app-arrow-down-icon></app-arrow-down-icon
      ></span>
    </p>
  </div>
</div>

<app-image-model
  [slides]="
    product &&
    product.galleries && [{ url: product.image, label: product.name }]
  "
  *ngIf="isOpenModelImage"
  (closeEvent)="onCloseModelImage($event)"
></app-image-model>
